[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bpython = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
python-decouple = "*"
psycopg2-binary = "*"
domplus = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.8"
